<div id="header" style="text-align:center">
    <h1>Welcome to the MAZE game!</h1>
    <h3>it's just test task for yael</h3>
</div>

<div id="game-container">
    <img id="field" class="no-drag disabled" src="assets/images/maze.png">

    <div id="initiator">
        <label for="name">enter your name</label>
        <input id="name" type="text" autocomplete="off" (focus)="onInputFocusIn($event)" (focusout)="onInputFocusOut($event)" (keyup)="onNameInput($event)">
        <button id="start" class="disabled" disabled (click)="startGame($event)">start game</button>
    </div>
    <div id="active-players">
        <h4>active players</h4>
        <ul>
            <li *ngFor="let playerId of objectKeys(this.gamePool.players)">
                <span [ngStyle]="{
                    'background-color': this.gamePool.players[playerId].color
                }"></span>
                {{ this.gamePool.players[playerId].name }}
            </li>
        </ul>
    </div>
    <div id="players-list" class="disabled" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
        <span *ngFor="let playerId of objectKeys(this.gamePool.players)" class="player" [ngStyle]="{
            'background-color': this.gamePool.players[playerId].color,
            'top': this.gamePool.players[playerId].y + 'px',
            'left': this.gamePool.players[playerId].x + 'px'
        }" title="{{ this.gamePool.players[playerId].name }}"></span>
        <div *ngFor="let playerId of objectKeys(this.gamePool.players)" class="player-path">
            <svg class="player-path-svg">
                <polyline
                    fill="none"
                    [ngStyle]="{
                        'stroke': this.gamePool.players[playerId].color,
                        'stroke-width': 2
                    }"
                    [attr.points]="this.gamePool.players[playerId].getPoints()"
                />
            </svg>
        </div>
    </div>
    <div id="leaderboard">
        <h4>leaderboard</h4>
        <ul>
            <li *ngFor="let player of this.gamePool.getLeaderboard()">
                <span [ngStyle]="{
                    'background-color': player.color
                }"></span>
                {{ player.name }}
                <b>{{ player.spent }} seconds</b>
            </li>
        </ul>
    </div>
    <div id="finalizer" class="disabled">
        <button id="end" class="disabled" disabled (click)="endGame($event)">end game</button>
    </div>
</div>