.no-drag {
    pointer-events: none;
}

button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    outline: 0;
    text-decoration: none;
    color: #fff;
    background-color: #ff9800;
    text-align: center;
    letter-spacing: .5px;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    padding: 0 28px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;

    &:hover {
        background-color: #ffb444;
        -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    }

    &.disabled {
        pointer-events: none;
        background-color: #DFDFDF !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #9F9F9F !important;
        cursor: default;
    }
}

input {
    -webkit-font-smoothing: antialiased;
    overflow: visible;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;

    &:focus {
        border-bottom: 1px solid #ff9800;
    }
}

label {
    box-sizing: inherit;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #2b2b2b;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    width: 100%;
    text-align: center;

    &.active {
        -webkit-transform: translateY(-14px) scale(0.8);
        transform: translateY(-14px) scale(0.8);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}

body {
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#game-container {
    position: relative;
    height: 600px;

    img#field {
        top: 50px;
        width: 600px;
        height: 600px;
        left: calc(50% - 300px);
        display: block;
        margin: 0 auto;
        position: absolute;
        -webkit-transition: opacity .5s ease-in, -webkit-transform .5s ease-in;
        transition: opacity .5s ease-in, -webkit-transform .5s ease-in;

        &.disabled {
            opacity: 0.05;
            filter: alpha(opacity=5);
            -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
            transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
        }
    }

    #initiator, #finalizer {
        z-index: 1;
        position: absolute;
        text-align: center;
        width: 300px;
        left: 50%;
        top: calc(50% + 50px);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: top 1s ease-out, -webkit-transform 1s ease-out;
        transition: top 1s ease-out, -webkit-transform 1s ease-out;

        &#finalizer {
            top: 720px;
            transform: translateX(-50%);

            &.disabled {
                top: 5000px;
            }
        }

        &.disabled {
            top: -500px;
        }
    }

    #players-list {
        position: relative;
        width: 700px;
        height: 700px;
        left: calc(50% - 350px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        .player {
            width: 16px;
            height: 16px;
            border-radius: 8px;
            display: block;
            position: absolute;

            border: #000 1px solid;

            transform: translateX(-50%) translateY(-50%);
        }
        .player-path {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;

            .player-path-svg {
                width: 100%;
                height: 100%;
            }
        }

        &.disabled {
            opacity: 0.3;
            filter: alpha(opacity=30);
            -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
            transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
        }
    }
    #active-players, #leaderboard {
        position: absolute;
        width: 250px;
        height: 700px;
        left: calc(50% - 610px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        top: 0;

        &#leaderboard {
            left: calc(50% + 360px);
        }

        &> h4 {
            text-align: center;
            padding-bottom: 20px;
            box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
        }

        &> ul > li {
            list-style: none;

            &> span {
                left: -16px;
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                border: #000 1px solid;
                position: relative;
                top: 4px;
            }
            &> b {
                float: right;
                margin-right: 25px;
                margin-top: 4px;
            }
        }
    }
}